(
    title:          "LD48-DriftDown",
    fullscreen:     None,
    dimensions:     Some((1280, 720)),
    max_dimensions: Some((1280, 720)),
    min_dimensions: Some((1280, 720)),
    visibility:     true,
    decorations:    true,
    maximized:      false,
    resizable:      false,
    transparent:    false,
)
