// src/settings/zones_settings.rs
// ./zones.ron

#![enable(implicit_some)]
(
    zones: {
        "dev_0": (
            song: Well,
            player_speed: 300.0,
            total_segments: 4,
            first_segment: [
                "dev_0/00.json",
                // "dev_0/01.json",
            ],
            final_segment: ["dev_0/final.json"],
            segments: {
                "dev_0/01.json": [
                    "dev_0/00.json",
                    // "dev_0/01.json",
                ],
            }
        ),
    },
)
