// src/settings/zones_settings.rs
// ./zones.ron

#![enable(implicit_some)]
(
    zones: {
        "dev_1": (
            player_speed: -100.0,
            total_segments: 8,
            first_segment: ["dev_1/00.json"],
            final_segment: ["dev_1/final.json"],
            segments: {
                "dev_1/00.json": [
                    "dev_1/01.json",
                ],
                "dev_1/01.json": [
                    "dev_1/00.json",
                    "dev_1/01.json",
                ],
            }
        ),
    },
)
