// src/settings/zones_settings.rs
// ./zones.ron

#![enable(implicit_some)]
(
    zones: {
        "dev_0": (
            first_segment: [
                "dev_0/00.json",
                // "dev_0/01.json",
            ],
            segments: {
                "dev_0/00.json": [
                    "dev_0/01.json",
                ],
                "dev_0/01.json": [
                    "dev_0/00.json",
                    // "dev_0/01.json",
                ],
            }
        ),
    },
)
