// src/settings/zones_settings.rs
// ./zones.ron

#![enable(implicit_some)]
(
    zones: {
        "green": (
            song: Green,
            player_speed: -90.0,
            total_segments: 12,
            first_segment: ["green/green_first.json"],
            final_segment: ["green/green_final.json"],
            segments: {
                "green/green_first.json": [
                    "green/green_easy_0.json",
                    "green/green_easy_0.json",
                    "green/green_easy_1.json",
                    "green/green_easy_2.json",
                    "green/green_easy_3.json",
                ],
                "green/green_easy_0.json": [
                    "green/green_easy_1.json",
                    "green/green_easy_2.json",
                    "green/green_easy_3.json",
                ],
                "green/green_easy_1.json": [
                    "green/green_easy_0.json",
                    "green/green_easy_0.json",
                    "green/green_easy_2.json",
                    "green/green_easy_3.json",
                    "green/green_easy_3.json",
                    "green/green_medium_1.json",
                    "green/green_medium_0.json",
                ],
                "green/green_easy_2.json": [
                    "green/green_easy_0.json",
                    "green/green_easy_1.json",
                    "green/green_easy_1.json",
                    "green/green_easy_3.json",
                    "green/green_medium_0.json",
                    "green/green_medium_1.json",
                ],
                "green/green_easy_3.json": [
                    "green/green_easy_0.json",
                    "green/green_easy_1.json",
                    "green/green_easy_2.json",
                    "green/green_medium_1.json",
                ],
                "green/green_medium_0.json": [
                    "green/green_easy_0.json",
                    "green/green_easy_1.json",
                    "green/green_easy_2.json",
                ],
                "green/green_medium_1.json": [
                    "green/green_easy_0.json",
                    "green/green_easy_1.json",
                    "green/green_easy_2.json",
                ],
            }
        ),
    },
)
