// src/settings/zones_settings.rs
// ./zones.ron

#![enable(implicit_some)]
(
    zones: {
        "space": (
            song: Well,
            player_speed: -100.0,
            total_segments: 8,
            first_segment: ["space/space_first.json"],
            final_segment: ["space/space_final.json"],
            segments: {
                "space/space_first.json": [
                    "space/space_easy_0.json",
                    "space/space_easy_0.json",
                    "space/space_easy_0.json",
                    "space/space_easy_1.json",
                    "space/space_easy_2.json",
                ],
                "space/space_easy_0.json": [
                    "space/space_easy_1.json",
                    "space/space_easy_2.json",
                    "space/space_easy_1.json",
                    "space/space_easy_2.json",
                    "space/space_medium_0.json",
                ],
                "space/space_easy_1.json": [
                    "space/space_easy_0.json",
                    "space/space_easy_2.json",
                    "space/space_easy_0.json",
                    "space/space_easy_2.json",
                    "space/space_medium_1.json",
                ],
                "space/space_easy_2.json": [
                    "space/space_easy_0.json",
                    "space/space_easy_1.json",
                    "space/space_easy_0.json",
                    "space/space_easy_1.json",
                ],
                "space/space_medium_0.json": [
                    "space/space_easy_0.json",
                    "space/space_easy_2.json",
                    "space/space_medium_1.json",
                ],
                "space/space_medium_1.json": [
                    "space/space_easy_0.json",
                    "space/space_easy_1.json",
                    "space/space_medium_0.json",
                ],
            }
        ),
    },
)
