#![enable(implicit_some)]
(
    volume: 0.5,

    bgm: {
        Well: (
            file: "LD481.2.wav",
        ),
        Green: (
            file: "LD482.2.wav",
        ),
        Red: (
            file: "LD483.2.wav",
        ),
    },

    sfx: {
        Coin: (
            file: "coin1.wav",
        ),
        LaneSwitch: (
            file: "dash.wav",
        ),
        GameOver: (
            file: "death.wav",
        ),
        Shoot: (
            file: "shoot.wav",
        ),
    },
)
