// src/settings/objects_settings.rs

#![enable(implicit_some)]
{
    Solid: (
        components: [
            Hitbox(Size),
            Collidable(Solid),
            Solid(Solid),
        ],
    ),

    Portal: (
        spritesheet: "player.png",
        components: [
            Hitbox(Custom([
                (
                    top:    8.0,
                    bottom: -8.0,
                    left:   -48.0,
                    right:  48.0,
                ),
            ])),
            Collidable(Portal),
            Portal(()),
        ],
    ),

    Obstacle: (
        components: [
            Hitbox(SizeOffset((
                top:    -2.0,
                bottom: 2.0,
                left:   2.0,
                right:  -2.0,
            ))),
            Collidable(Obstacle),
            Obstacle(()),
        ],
    ),

    Custom("TurretA"): (
        spritesheet: "player.png",
        components: [
            Size((
                w: 16.0,
                h: 16.0,
            )),
            Hitbox(Size),
            Collidable(Obstacle),
            Obstacle(()),
            Turret((
                shot_object_type: Custom("TurretBullet"),
                shot_interval_ms: 1000,
            )),
            Loadable(()),
        ],
    ),

    Custom("TurretB"): (
        spritesheet: "player.png",
        components: [
            Size((
                w: 16.0,
                h: 16.0,
            )),
            Hitbox(Size),
            Collidable(Obstacle),
            Obstacle(()),
            Turret((
                shot_object_type: Custom("TurretBullet"),
                shot_interval_ms: 1000,
                shot_initial_delay_ms: 500,
            )),
            Loadable(()),
        ],
    ),

    Custom("TurretBullet"): (
        spritesheet: "player.png",
        components: [
            Size((
                w: 8.0,
                h: 8.0,
            )),
            Hitbox(Size),
            Collidable(Obstacle),
            Obstacle(()),
            Velocity((
                x: 0.0,
                y: 50.0,
            )),
        ],
    ),

    Coin("red"): (
        spritesheet: "coins/coin_red.png",
        components: [
            Hitbox(Size),
            Collidable(Coin),
            Coin(()),
            Animation([
                (0, 50),
                (1, 50),
                (2, 50),
                (3, 50),
                (4, 50),
                (5, 50),
                (6, 50),
                (7, 50),
                (8, 50),
                (9, 50),
                (10, 50),
                (11, 50),
                (12, 50),
            ]),
        ],
    ),

    Coin("blue"): (
        spritesheet: "coins/coin_blue.png",
        components: [
            Hitbox(Size),
            Collidable(Coin),
            Coin(()),
            Animation([
                (0, 50),
                (1, 50),
                (2, 50),
                (3, 50),
                (4, 50),
                (5, 50),
                (6, 50),
                (7, 50),
                (8, 50),
                (9, 50),
                (10, 50),
                (11, 50),
                (12, 50),
            ]),
        ],
    ),

    Coin("green"): (
        spritesheet: "coins/coin_green.png",
        components: [
            Hitbox(Size),
            Collidable(Coin),
            Coin(()),
            Animation([
                (0, 50),
                (1, 50),
                (2, 50),
                (3, 50),
                (4, 50),
                (5, 50),
                (6, 50),
                (7, 50),
                (8, 50),
                (9, 50),
                (10, 50),
                (11, 50),
                (12, 50),
            ]),
        ],
    ),

    Custom("BgGreen"): (
        spritesheet: "bg/bg_green.png",
        components: [],
    ),

    Custom("BgRed"): (
        spritesheet: "bg/bg_red.png",
        components: [],
    ),

}
