// src/settings/objects_settings.rs

#![enable(implicit_some)]
{
    Solid: (
        components: [
            Hitbox(Size),
            Collidable(Solid),
            Solid(Solid),
        ],
    ),

    Portal: (
        spritesheet: "player.png",
        components: [
            Hitbox(Custom([
                (
                    top:    8.0,
                    bottom: -8.0,
                    left:   -48.0,
                    right:  48.0,
                ),
            ])),
            Collidable(Portal),
            Portal(()),
        ],
    ),

    Obstacle: (
        spritesheet: "player.png",
        components: [
            Hitbox(Custom([
                (
                    top:    4.0,
                    bottom: -4.0,
                    left:   -4.0,
                    right:  4.0,
                ),
            ])),
            Collidable(Obstacle),
            Obstacle(()),
        ],
    ),

    Coin("red"): (
        spritesheet: "coins/coin_red.png",
        components: [
            Hitbox(Size),
            Collidable(Coin),
        ],
    ),

    Coin("blue"): (
        spritesheet: "coins/coin_blue.png",
        components: [
            Hitbox(Size),
            Collidable(Coin),
        ],
    ),

    Coin("green"): (
        spritesheet: "coins/coin_green.png",
        components: [
            Hitbox(Size),
            Collidable(Coin),
        ],
    ),
}