// src/settings/player_settings.rs

#![enable(implicit_some)]
(
    components: [
        Size((
            w: 32.0,
            h: 32.0,
        )),
        Hitbox(Size),
        Collider(Player),
        Collidable(Player),
        Solid(Player),
        Gravity((y: -100.0)),
    ],
)
