// src/settings/player_settings.rs

#![enable(implicit_some)]
(
    components: [
        Size((
            w: 16.0,
            h: 16.0,
        )),
        Hitbox(Size),
        Collider(Player),
        Collidable(Player),
        Solid(Player),
        Velocity((x: 0.0, y: -100.0)),
        OnLane((
            switch_speed: 500.0,
        ))
    ],
)
