// src/settings/objects_settings.rs

#![enable(implicit_some)]
{
    Solid: (
        components: [
            Hitbox(Size),
            Collidable(Solid),
            Solid(Solid),
        ],
    ),

    Portal: (
        spritesheet: "player.png",
        components: [
            Hitbox(Custom([
                (
                    top:    8.0,
                    bottom: -8.0,
                    left:   -48.0,
                    right:  48.0,
                ),
            ])),
            Collidable(Portal),
            Portal(()),
        ],
    ),

    Obstacle: (
        components: [
            Hitbox(SizeOffset((
                top:    -2.0,
                bottom: 2.0,
                left:   2.0,
                right:  -2.0,
            ))),
            Collidable(Obstacle),
            Obstacle(()),
        ],
    ),

    Custom("BgGreen"): (
        spritesheet: "bg/bg_green.png",
        components: [],
    ),

    Custom("BgRed"): (
        spritesheet: "bg/bg_red.png",
        components: [],
    ),

    Custom("BgSpace"): (
        spritesheet: "bg/bg_space_2.png",
        components: [],
    ),

    Custom("BgWell"): (
        spritesheet: "bg/bg_well_1.png",
        components: [],
    ),
}
