// src/settings/objects_settings.rs

#![enable(implicit_some)]
{
    Solid: (
        components: [
            Hitbox(Size),
            Collidable(Solid),
            Solid(Solid),
        ],
    ),

    Obstacle: (
        components: [
            Hitbox(SizeOffset((
                top:    -2.0,
                bottom: 2.0,
                left:   2.0,
                right:  -2.0,
            ))),
            Collidable(Obstacle),
            Obstacle(()),
        ],
    ),

    Custom("PsychGrid"): (
        spritesheet: "psychedelic/psychedelic_grid.png",
        components: [
            Hitbox(Size),
            Collidable(Obstacle),
            Obstacle(()),
            Animation([
                (0, 200),
                (1, 200),
                (2, 200),
                (3, 200),
            ]),
        ],
    ),
}
