#![enable(implicit_some)]
{
    Custom("TurretNokia"): (
        spritesheet: "space/nokia.png",
        components: [
            Size((
                w: 16.0,
                h: 32.0,
            )),
            Hitbox(Size),
            Collidable(Obstacle),
            Obstacle(()),
            Turret((
                shot_object_type: Custom("TurretBullet"),
                shot_interval_ms: 1000,
                shot_initial_delay_ms: 500,
                shot_offset: (0.0, 16.0),
            )),
            Loadable(()),
        ],
    ),

    Custom("TurretSpaceshipLeft"): (
        spritesheet: "space/spaceship.png",
        components: [
            Animation([
                (0, 1000),
            ]),
            Size((
                w: 16.0,
                h: 40.0,
            )),
            Hitbox(Size),
            Collidable(Obstacle),
            Obstacle(()),
            Turret((
                shot_object_type: Custom("TurretBullet"),
                shot_interval_ms: 1000,
                shot_initial_delay_ms: 500,
                shot_offset: (-4.0, 16.0),
            )),
            Loadable(()),
        ],
    ),

    Custom("TurretSpaceshipRight"): (
        spritesheet: "space/spaceship.png",
        components: [
            Animation([
                (1, 1000),
            ]),
            Size((
                w: 16.0,
                h: 40.0,
            )),
            Hitbox(Size),
            Collidable(Obstacle),
            Obstacle(()),
            Turret((
                shot_object_type: Custom("TurretBullet"),
                shot_interval_ms: 1000,
                shot_initial_delay_ms: 0,
                shot_offset: (4.0, 16.0),
            )),
            Loadable(()),
        ],
    ),

    Custom("TurretBullet"): (
        spritesheet: "space/projectile.png",
        components: [
            Size((
                w: 16.0,
                h: 16.0,
            )),
            Hitbox(SizeOffset((
                top:    -4.0,
                bottom: 4.0,
                left:   4.0,
                right:  -4.0,
            ))),
            Collidable(Obstacle),
            Obstacle(()),
            Velocity((
                x: 0.0,
                y: 25.0,
            )),
            DeleteDelay((
                delete_after_ms: 5000,
            )),
        ],
    ),

    // TODO: CLEANUP

    Custom("TurretA"): (
        spritesheet: "player.png",
        components: [
            Size((
                w: 16.0,
                h: 16.0,
            )),
            Hitbox(Size),
            Collidable(Obstacle),
            Obstacle(()),
            Turret((
                shot_object_type: Custom("TurretBullet"),
                shot_interval_ms: 1000,
            )),
            Loadable(()),
        ],
    ),

    Custom("TurretB"): (
        spritesheet: "player.png",
        components: [
            Size((
                w: 16.0,
                h: 16.0,
            )),
            Hitbox(Size),
            Collidable(Obstacle),
            Obstacle(()),
            Turret((
                shot_object_type: Custom("TurretBullet"),
                shot_interval_ms: 1000,
                shot_initial_delay_ms: 500,
            )),
            Loadable(()),
        ],
    ),
}
